RagPipeline&ChatBot.json
{
  "name": "RagPipelineAndChatBot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KJiHCa80OeELqAYBDt70Jm41vDSuClw6",
          "mode": "list",
          "cachedResultName": "FAQ_n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KJiHCa80OeELqAYBDt70Jm41vDSuClw6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        48
      ],
      "id": "ada865c9-d0b4-4d90-ba83-e719dc56d33c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7UVQbHjbrsb8tP67",
          "name": "ahmedirfancodes@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        48
      ],
      "id": "dd9df624-139f-492a-b9a2-3282bd928bd8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7UVQbHjbrsb8tP67",
          "name": "ahmedirfancodes@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "testn8n1",
          "mode": "list",
          "cachedResultName": "testn8n1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -224,
        48
      ],
      "id": "551d5579-b6d0-4ca3-9c07-b814b8ccbf00",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "83rNaAq825mtkk1d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        240
      ],
      "id": "47334f0e-5782-4eed-b754-c13a9f4b6e7c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "K7jISUV7VDpKrB6Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -112,
        240
      ],
      "id": "6a18c626-436e-4549-8cbd-5e971d2e1b43",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -112,
        400
      ],
      "id": "5e7963ad-0264-40a6-9c99-945079df2ea6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        48
      ],
      "id": "43483d67-6ba8-48c5-9037-aa384ea7e052",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        48
      ],
      "id": "f9f65505-a8d5-4d43-b2df-30f5a3ad4eac",
      "name": "When chat message received",
      "webhookId": "6e329e42-a1df-4a02-99fe-28d76ff054ed"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "id": "df35af25-e810-4bb7-ba4d-61379ff721cd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5Usg2dbtP77mwWjf",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this will access the FAQ document database",
        "pineconeIndex": {
          "__rl": true,
          "value": "testn8n1",
          "mode": "list",
          "cachedResultName": "testn8n1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        192
      ],
      "id": "84692032-7766-4534-8aa7-15fe48780024",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "83rNaAq825mtkk1d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        352
      ],
      "id": "8d9d8ab2-f90f-45dd-ae74-ec0de26bbf5f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "K7jISUV7VDpKrB6Y",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f05365e2-a1ca-4d2b-9577-1043f1de6fe5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbc2b14440551e1091bf52f694180f7449eb8fddead03c336160a303c3f91e5a"
  },
  "id": "ObBSwmllSYUoBziC",
  "tags": []
}
